<% session[:redirect_to]=request.env['PATH_INFO'] %>

<header class="navbar">
  <div class="header-container">
    <div class="logo">
      <%= link_to "withFootnotes", root_path, id: 'logo'%>
    </div>
    <nav>
      <ul class="nav pull-right">
        <li><%= yield(:topic) %></li>
        <li><%= link_to "Home",    root_path %></li>
        <li>
          <% if signed_in? && current_user.has_username? %>
          | <%= link_to current_user.username, user_path(current_user) %>
          <% end %>
        </li>
        <li><%= make_login_link %></li>
      </ul>
    </nav>
  </div>
  <div class="pusher"></div>
</header>